@import url('https://fonts.googleapis.com/css2?family=Dongle&family=League+Spartan:wght@100..900&display=swap');

:root {
  --color-background: #fbf9e4;
  --color-secondary: #d9d8d9;
  --color-surface: #e4c395;
  --color-foreground: ##000000;
  --font-dongle: "Dongle", sans-serif;
  --font-league-spartan: "League Spartan", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  gap: 0;
  font-family: var(--font-dongle);
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  width: 100%;
  display: flex;
}



.header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__logo-container {
  width: 100%;
  background-color: var(--color-surface);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header__logo {
  width: 100%;
  height: auto;
  max-width: 450px;
}

.header__nav {
  width: 100%;
  display: flex;
  background-color: var(--color-background);
  padding: 1rem;
}

.header__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  font-size: 36px;
}

/* hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  overflow: hidden;
  text-align: center;
  padding: 2rem;
  margin-bottom: 8rem;
  margin-top: -1rem;
}

.hero__container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: black;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/genshin-feast.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: 0;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.hero__text {
  font-size: 36px;
}

.hero__text-center {
  text-align: center;
}

.hero__heading {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--font-league-spartan);
}

.hero__button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-surface);
  font-size: 40px;
  border: 2px solid black;
  box-shadow: 1px 1px 6px hsl(0, 0, 0, 0.8);
}

/* about page */
.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  overflow: hidden;
  text-align: center;
  padding: 4rem 2rem;
  margin-bottom: 8rem;
  margin-top: -1rem;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/opera\ and\ oguri\ eating.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 0.35;
  z-index: 0;
}

.about__container {
  position: relative;
  z-index: 1;
  max-width: 900px;    
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about__container .hero__text {
  font-size: 36px;
  text-align: left;
  color: black;
  font-family: var(--font-dongle);
  line-height: 1.3; 
}

/* what we serve */
.serve {
  background-color: var(--color-surface);
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  margin-top: -1rem;
}

.serve__container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.serve__text {
  font-size: 48px;
  font-family: var(--font-league-spartan);
  font-weight: bold;
  text-transform: lowercase;
  margin-bottom: 2rem;
}

.serve__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.serve__list-item {
  background-color: var(--color-background);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.serve__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.serve__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: var(--font-league-spartan);
}

.serve__caption {
  font-size: 20px;
  line-height: 1.2;
  font-family: var(--font-dongle);
}

/* follow us */
.follow {
  background-color: var(--color-surface);
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow__container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.follow__heading {
  font-family: var(--font-league-spartan);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.follow__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.follow__image {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.follow__agnes {
  width: 200px;
  height: auto;
}

.follow__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.follow__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.follow__platform {
  width: 40px;
  height: auto;
}

.follow__link-text {
  font-family: var(--font-dongle);
  font-size: 36px;
}

/* Responsive layout for smaller screens */
@media (max-width: 900px) {
  .follow__content {
    flex-direction: column;
  }

  .follow__image {
    width: 300px;
  }
}


/* Make it adjust nicely on smaller screens */
@media (max-width: 768px) {
  .follow__content {
    flex-direction: column;
    align-items: center;
  }

  .follow__image {
    width: 300px;
  }

  .follow__heading {
    text-align: center;
  }

  .follow__list {
    align-items: center;
  }
}

/* contact section */
.contact {
  background-color: var(--color-background);
  padding: 4rem 2rem;
  text-align: center;
}

.contact__heading, .follow__heading {
  font-family: var(--font-league-spartan);
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact__input {
  width: 400px;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: var(--color-secondary);
  font-size: 20px;
}

.contact__submit {
  width: 150px;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: var(--color-secondary);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.contact__submit:hover {
  background-color: #c7c6c7;
}


@media only screen and (min-width: 640px) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  .hero__container {
    justify-content: center;
  }

  .hero__button-group {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1080px) {
  .header__container {
    flex-direction: row;
  }

  .header__logo-container {
    justify-content: flex-start;
    background-color: var(--color-background);
  }

  .header__logo {
    width: 250px;
  }

  .header__nav {
    padding: 0;
  }
  
  .hero {
    height: 900px;
  }
}
